<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simplelifestudio.cocinando">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.Splash" />
        <activity android:name=".controller.Login" />
        <activity android:name=".controller.ListaReceta" />
        <activity android:name=".controller.Video" />
        <activity android:name=".controller.BusquedaReceta" />
        <activity android:name=".controller.RecetaDetalle" />
        <activity android:name=".controller.Top" />
        <activity android:name=".controller.Mercado" />
        <activity android:name=".controller.Perfil" />
        <activity android:name=".controller.Home" />
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>